h1 {
    display : inline;
}

.driver {
    margin-bottom: 3%;
}

.linethr {
    text-decoration: line-through;
}

.cont {
    display : flex;
    align-items: center;
    margin-bottom: 3%;
}

.task {
    flex-grow : 1;
    flex-wrap: wrap;
}

.done {
    margin-right : 1%;
}